@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* useLoop */
.text-primary {
  color: #00673e;
}

.text-accent-1 {
  color: #67003e;
}

.text-accent-2 {
  color: #3e6700;
}

.text-accent-3 {
  color: #673e00;
}

.text-accent-4 {
  color: #003e67;
}

.text-accent-5 {
  color: #3e0067;
}

.text-accent-6 {
  color: #3e6767;
}

.text-accent-7 {
  color: #3e3e67;
}

.text-accent-8 {
  color: #676700;
}

.text-error {
  color: #670c03;
}

.text-alert {
  color: #d8b31b;
}

.bg-primary {
  background-color: #00673e;
}

.bg-accent-1 {
  background-color: #67003e;
}

.bg-accent-2 {
  background-color: #3e6700;
}

.bg-accent-3 {
  background-color: #673e00;
}

.bg-accent-4 {
  background-color: #003e67;
}

.bg-accent-5 {
  background-color: #3e0067;
}

.bg-accent-6 {
  background-color: #3e6767;
}

.bg-accent-7 {
  background-color: #3e3e67;
}

.bg-accent-8 {
  background-color: #676700;
}

.bg-error {
  background-color: #670c03;
}

.bg-alert {
  background-color: #d8b31b;
}

.border-primary {
  border-color: #00673e;
}

.border-accent-1 {
  border-color: #67003e;
}

.border-accent-2 {
  border-color: #3e6700;
}

.border-accent-3 {
  border-color: #673e00;
}

.border-accent-4 {
  border-color: #003e67;
}

.border-accent-5 {
  border-color: #3e0067;
}

.border-accent-6 {
  border-color: #3e6767;
}

.border-accent-7 {
  border-color: #3e3e67;
}

.border-accent-8 {
  border-color: #676700;
}

.border-error {
  border-color: #670c03;
}

.border-alert {
  border-color: #d8b31b;
}

/* Basic global layout reset */
@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-o-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}
html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

svg {
  fill: currentColor;
}

/* Base Typography Styles */
html {
  font: normal 100%/1.5 "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 
Standardizing some basic type styles across my website.
*/
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0 0 1.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h1 + .subtitle {
  font-size: 1.25rem;
  margin: -1rem 0 2rem;
  font-style: italic;
}

h3 {
  color: #00331f;
  margin-top: 2rem;
  font-size: 1.5rem;
}

h4 {
  color: #67003e;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}

a {
  color: #00673e;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
a:hover, a:focus {
  color: #00331f;
}

/* Base Layout */
/* 
I like to create a collection of reusable classes that help me create consistent layout and spacing on my webpages.
*/
main {
  min-height: calc(100vh - 122px);
  /* This will expand the size of <main> to push the footer to the bottom on pages with little content */
  padding-top: 63px;
  /* This padding compensates for the fixed navbar not taking up any space to avoid overlap */
}

.container {
  max-width: 70em;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

section > .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-t {
  padding-top: 6rem;
}

.padding-t-3 {
  padding-top: 3rem;
}

.spacing-b {
  padding-bottom: 6rem;
}

.push {
  margin-bottom: 1rem;
}

.push-4 {
  margin-bottom: 4rem;
}

.text-wrap {
  max-width: 45em;
}

.parent-styles {
  border: 4px dashed #ccc;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid-3 {
  display: grid;
  gap: 1rem;
}
@media only screen and (min-width: 38em) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Icons */
.icon {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.icon svg {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.icon .icon-label {
  vertical-align: middle;
}

/* Accessibility */
.skip-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.skip-links a {
  position: absolute;
  top: -100rem;
  display: inline-block;
  padding: 1rem;
  background-color: #67003e;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1000000;
}
.skip-links a:focus {
  top: 0;
}

.to-top {
  position: fixed;
  bottom: 0;
  right: 1rem;
  background-color: #67003e;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-decoration: none;
  transform: translateY(100%);
  transition: transform 0.2s;
}
.to-top.visible, .to-top:hover, .to-top:focus {
  transform: none;
}

*:focus {
  outline: 2px solid #67003e;
  outline-offset: 2px;
}

/* Some helper css for colouring and styling */
.responsive-box .box {
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.responsive-box .box h2 {
  margin: 0;
  color: #fff;
}

/* Button styles */
.btn {
  background-color: #00673e;
  border: 1px solid #017949;
  box-shadow: 0 3px 5px #0004;
  color: #fff;
  padding: 0.75em 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover, .btn:focus {
  background-color: #00331f;
  border-color: #00673e;
  color: #fff;
}

/* Nav Toggle */
.nav-toggle {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.nav-toggle .tog {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: relative;
  transition: top 0.2s, bottom 0.2s, opacity 0.2s, transform 0.2s;
}
.nav-toggle .tog.top {
  top: 0;
}
.nav-toggle .tog.bottom {
  bottom: 0;
}
.nav-toggle.open .top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.nav-toggle.open .middle {
  opacity: 0;
}
.nav-toggle.open .bottom {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.click-to-close {
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}
.click-to-close.open {
  opacity: 1;
  pointer-events: all;
}

/* Masthead */
.masthead {
  padding: 1rem 0;
  background-color: #00673e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.masthead .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.masthead a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s;
}
.masthead a.logo:hover, .masthead a.logo:focus {
  opacity: 0.5;
}
.masthead .logo h1,
.masthead .logo strong {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  position: relative;
  z-index: 1;
}
.masthead nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: #00331f;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.masthead nav.open {
  opacity: 1;
  pointer-events: all;
}
.masthead nav ul {
  padding: 6rem 1rem;
  text-align: center;
  margin: 0;
  list-style-type: none;
}
.masthead nav ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.masthead nav ul a {
  display: block;
  font-size: 1.424rem;
}
@media only screen and (min-width: 38em) {
  .masthead nav ul a {
    font-size: 1.728rem;
  }
}
@media only screen and (min-width: 60em) {
  .masthead nav ul a {
    font-size: 1.954rem;
  }
}
.masthead nav ul a[aria-current=page], .masthead nav ul a:hover, .masthead nav ul a:focus {
  text-decoration: underline;
}
.masthead .btn {
  font-size: 1.5rem;
}

/* Main Footer */
.footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0;
}
.footer a {
  color: #fff;
}
.footer a:hover, .footer a:focus {
  color: #ffffffaa;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.5rem;
  border: 0.125rem solid #00673e;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  box-shadow: 0 3px 5px #0003;
  transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover, .card:focus {
  box-shadow: 0 5px 10px #0004;
  transform: translateY(-0.5rem);
}
.card__img {
  position: relative;
  width: 100%;
  padding-top: 50%;
}
.card__img img,
.card__img svg,
.card__img iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  padding: 1.5rem;
}
.card__title {
  font-size: 1.266rem;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 38em) {
  .card__title {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 60em) {
  .card__title {
    font-size: 1.563rem;
  }
}
.card__text {
  margin: 0;
}

/* Hero */
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, #0007, #0007), url("../images/hero.jpg");
  text-align: center;
}
.hero__headline {
  border: 0;
  color: #fff;
  margin: 0;
}
.hero__byline {
  color: #fff;
}

.box {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #00673e;
}
.box h2 {
  margin: 0;
  color: #fff;
}

@media only screen and (min-width: 25em) {
  .box {
    background-color: #67003e;
  }
}
@media only screen and (min-width: 38em) {
  .box {
    background-color: #3e6700;
  }
}
@media only screen and (min-width: 60em) {
  .box {
    background-color: #673e00;
  }
}
@media only screen and (min-width: 90em) {
  .box {
    background-color: #003e67;
  }
}
.cards-review .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}
.cards-review .card {
  flex: 1 1 15rem;
}

/*# sourceMappingURL=main.css.map */
