h1 {
  @include heading1;
}

h2 {
  @include heading2;
}

h3 {
  @include heading3;
}


.button {
  background-color: $color__primary;
  padding: 1rem;
  color: #fff;
  text-decoration: none;

  @include hov {
    background-color: $color__accent-1;
    color: #fff;
  }

}

.grid-images img {
  width: 100%;
}

.grid-1 {
  @include grid($gap: 1.5);
}

.grid-2 {
  @include grid(2, 4, 3, 5);
}